# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.svn/
bin/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Android Studio related
android/.classpath
android/.settings/

# Visual Studio Code related
.vscode/
