<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries>
    <!-- 确保能看到 TTS 引擎 -->
    <intent>
      <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>
    <!-- 如果想指定 Google TTS -->
    <package android:name="com.google.android.tts" />
  </queries>
</manifest>